<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> T E M P</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>

<!--<ul class="nav nav-tabs" id="myTab" role="tablist">-->
<!--    <li class="nav-item" role="presentation">-->
<!--        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Главная</button>-->
<!--    </li>-->
<!--    <li class="nav-item" role="presentation">-->
<!--        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Профиль</button>-->
<!--    </li>-->
<!--    <li class="nav-item" role="presentation">-->
<!--        <button class="nav-link" id="messages-tab" data-bs-toggle="tab" data-bs-target="#messages" type="button" role="tab" aria-controls="messages" aria-selected="false">Сообщения</button>-->
<!--    </li>-->
<!--    <li class="nav-item" role="presentation">-->
<!--        <button class="nav-link" id="settings-tab" data-bs-toggle="tab" data-bs-target="#settings" type="button" role="tab" aria-controls="settings" aria-selected="false">Настройки</button>-->
<!--    </li>-->
<!--</ul>-->

<!--&lt;!&ndash; Tab panes &ndash;&gt;-->
<!--<div class="tab-content">-->
<!--    <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>-->
<!--    <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>-->
<!--    <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">...</div>-->
<!--    <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">...</div>-->
<!--</div>-->

<br>

<!-- Кнопка-триггер модального окна -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <div class="callout">Запустите демо модального окна</div>
</button>

<!-- Модальное окно -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Заголовок модального окна</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <div class="callout">Запустите демо модального окна</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary">Сохранить изменения</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col bg-info">1</div>
        <div class="col">2</div>
        <div class="col bg-light">3</div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>